<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
 <connectionStrings>
  <add name="MRP_GUI.Properties.Settings.MRPConnectionString" connectionString="Data Source=SEVWANDI-LAP\SQLEXPRESS;Initial Catalog=MRP;User ID=sa;Password=password321"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="SQLConnection" value="Data Source=SEVWANDI-LAP\SQLEXPRESS;Initial Catalog=MRP;User ID=sa;Password=password321"/>
		<add key="strSERVER" value="SEVWANDI-LAP\SQLEXPRESS"/>
		<add key="strDB" value="MRP"/>
		<add key="strUSER" value="sa"/>
		<add key="strPW" value="password321"/>
	</appSettings>
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ADONetAppender" />
		</root>
		<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
			<bufferSize value="100" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="server=192.168.1.100; uid=dbadmin; pwd=Abc123; database=MRP" />
			<commandText value="INSERT INTO tblLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[userid]) VALUES (@log_date, @thread, @log_level, @logger, @message,@exception,@userid)" />
			<parameter>
				<parameterName value="@log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@thread"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.ExceptionLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@userid" />
				<dbType value="String" />
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{userid}" />
				</layout>
			</parameter>
		</appender>

	</log4net>
</configuration>